{% extends 'app/base.html' %}
{% load static %}

{% block title %}
        Specific Chat 
{% endblock %}


{% block custom_css %}
    <link href="{% static 'app/css/style.css' %}" rel="stylesheet">     
{% endblock custom_css %}


{% block content %}

<div class="container">

    <h3 class=" text-center my-3">@{{friend.profile.user.username}} | Chat</h3>
    <div class="messaging">


        <div class="mesgs">

            <div class="msg_history" id='chat-body'>

            
                {% for chat in chats %}

                    {% if chat.msg_sender == user  and chat.msg_receiver == profile %}
                        <div class="outgoing_msg">
                            <div class="sent_msg">
                                <p>{{ chat.message }}</p>
                                {% comment %} <span class="time_date">{{ chat.timestamp }}</span> {% endcomment %}
                            </div>
                        </div>
                        
                    {% elif chat.msg_sender == profile  and chat.msg_receiver == user %}
                        <div class="incoming_msg">
                            <div class="incoming_msg_img">
                                <img src="{{ chat.msg_sender.friend.profile.profile_pic.url }}" alt="{{ chat.msg_sender.friend.profile.name }}" style="border-radius: 50%;">
                            </div>
                            <div class="received_msg">
                                <div class="received_withd_msg">
                                    <p>{{ chat.message }}</p>
                                    {% comment %} <span class="time_date">{{ chat.timestamp }}</span> {% endcomment %}
                                </div>
                            </div>
                        </div>
                    {% endif %}

                {% endfor %}

                <div class="sent_msg" id='sent_msg' style='display: none'>
                    
                </div>
    
            
                <!-- form fields go here -->

            

            
            
            </div>

            <div class="type_msg">
                <div class="input_msg_write">

                    <form action="" method="POST" id='form'>
                        {% csrf_token %}
                            {{form.message}}

                            <button class="msg_send_btn" type="submit" id='submit'>
                                <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                            </button>
                    </form>

                </div>
            </div>
    </div>

    

</div>

{% endblock %}


{% block script %}


    <script>

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');

        

        let form = document.getElementById('form');
        form.addEventListener('submit', sendChat)

        function sendChat(e){
            e.preventDefault();
            let chatMesage = document.getElementById('id_body').value
            console.log(chatMesage)


            const data = { msg: chatMesage }; 

            let url = "{% url 'sent_msg' friend.profile.id %}"

            fetch(url, {
                method: "POST", // or 'PUT'
                headers: {
                    "Content-Type": "application/json",
                    'X-CSRFToken': csrftoken,
                },
                body: JSON.stringify(data),
                })
            

            .then((response) => response.json())
            .then((data) => {
                console.log("Success:", data);

                let chat_body = document.getElementById('chat-body');
                let chatMessageBox = document.createElement('div');
                chatMessageBox.classList.add('outgoing_msg');

                // You might need to adjust the inner HTML structure to match your outgoing message format.
                chatMessageBox.innerHTML = `<div class="sent_msg"><p>${data}</p></div>`; 
                
                // Adjust according to the actual data structure.
                chat_body.append(chatMessageBox); // Append to the container.

                // Reset the form input after sending the message.
                document.getElementById('id_body').value = '';


            })


            .catch((error) => {
                console.error("Error:", error);
            });
        
        }
        
    </script>

{% endblock script %}

